a {
    text-decoration: none;
}

body {
    font-family: NanumGothic;
    list-style-type:none;
}

section {
    display: flex;
    width: 1840px;
    height: auto;
}
.container{
    padding: 0px 50px 50px 50px;
    width: auto;
    height: auto;
}

/* 왼쪽 메뉴바 */
.leftmenu{
    display: flex;
}

/* 왼쪽 아이콘 메뉴바 */
.leftmenu1{
    background: #10479A;
    width: 80px;
    height: 1000px;
}

/* 왼쪽 카테고리 메뉴바*/
.leftmenu2{
    height: 1000px;
    border-color: #000;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.mainlogo>img{
    margin: 20px 0px 34px 26px;
    width: 205px;
    height: 36px;
}

.maintitle{
    color: #000;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.apv-navibox{
    width: 247px;
    height: 768px;
    padding: 12px;
    border-right : #000;
    box-sizing: border-box
}

.apv-navibox-top{
    display: flex;
    width: 197px;
    height: 50px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFC338;
    color: #000;
    text-align: center;
    font-size: 24px;
}

.apv-navibox-ul li:hover{
    background-color: #EEE;
    font-weight: 600;
}

.apv-navibox-maintitle{
    display: flex;
    width: 197px;
    height: 34px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #10479A;
    color: #FFF;
    text-align: center;
    font-size: 20px;
}

.apv-navibox-emp{
    height: 10px;
}
.apv-navibox-ul{
    padding: 0;
}
.apv-navibox-ul>li{
    display: flex;
    width: 197px;
    height: 26px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
}


/* 결재 공용*/
/* 결재 상단바*/
.apv-topbar{
    display: flex;
    width: auto;
    height: 55px;
    background: #EEEEEE;
    align-items: center;
}

.apv-topbar>div{
    margin-left: 50px;
}

.apv-topbar>div>button{
    height: 40px;
    margin-right: 20px;
    padding: 0px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 0.5px solid #7B7B7B;
}

.apv-topbar>div>button.summit{
    background: #FFC338;
    
}

/* 문서 타이틀 */
.apv-apvtitle{
    display: flex;
    color: #000;
    text-align: center;
    font-size: 54px;
    display: flex;
    width: 1500px;
    height: 64px;
    padding: 10px 12px;
    margin-top: 50px;;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

/* 결재라인 */
.apv-apvline{
    float: right;
    margin-right: 20px;
    width: 600px;
    height: 175px;
    /* border: 1px solid #7B7B7B; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.apv-apvlinebox{
    width: 150px;
    text-align:center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apv-apvlinebox .row1 {
    display: flex;
    height: 30px;
    background: #EEEEEE;
    border: 1px solid #7B7B7B;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apv-apvlinebox .row2 {
    display: flex;
    height: 115px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #7B7B7B;
    border-left: 1px solid #7B7B7B;
}
.apv-apvlinebox .row3{
    display: flex;
    height: 30px;
    background: #EEEEEE;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #7B7B7B;
}

.apv-apvlinebox .row4, .row7, .row10 {
    display: flex;
    height: 30px;
    background: #EEEEEE;
    border-top: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apv-apvlinebox .row5, .row8, .row11{
    display: flex;
    height: 115px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #7B7B7B;
}
.apv-apvlinebox .row6, .row9, .row12{
    display: flex;
    height: 30px;
    background: #EEEEEE;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
}
.apv-content{
    width: 1500px;
    display: inline-grid;
    margin-top: 40px;
    border: 1px solid #7B7B7B;
    grid-template-columns: repeat(8, 187.5px);
    /* grid-auto-rows/: 60px; */
    border: #7B7B7B solid 1px;
    font-size: 24px;
} 
/* .apv-content > div {
    border-right: 1px solid #7B7B7B;
} */


/* .apv-content > div:nth-child(8n) {
    border-right: none;
} */


  /* 공용 완료 */

.apv-content-title-exp1{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 375px);
    /* grid-auto-rows: 60px; */
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.apv-content-title-exp1 > div{
    display: flex;
    border-right: 1px solid #7B7B7B;
    height: 60px;
    flex-direction: column;
    justify-content: center;
}
.apv-content-title-exp1 .column1, .column3{
    background: #EEE; 
}

.apv-content-title-exp1 > div:nth-child(4n) {
    border-right: none;
}

.apv-content-detail{
    grid-column: 1 / span 8;
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #7B7B7B;
    background: #EEE;
}

.apv-content-detail-exp1-title{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 375px);
    border-top: 1px solid #7B7B7B;
    height: 60px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.apv-content-detail-exp1-title > div{
    display: flex;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    background: #EEE; 
}
.apv-content-detail-exp1-title > div:nth-child(4n) {
    border-right: none;
}
.apv-content-detail-exp1-content{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 375px);
    grid-auto-rows: 60px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.apv-content-detail-exp1-list{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 375px);
    height: 60px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.apv-content-detail-exp1-list > div{
    display: flex;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    height: 60px;
    flex-direction: column;
    justify-content: center;

}
.apv-content-detail-exp1-list > div:nth-child(4n) {
    border-right: none;
}

.apv-content-detail-exp1-total{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(2, 750px);
    height: 60px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background: #EEE; 
    border-top: 1px solid #7B7B7B;
}

.apv-content-detail-exp1-total > div {
    display: flex;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}
.apv-content-detail-exp1-total > div:nth-child(2n) {
    border-right: none;
}

.apv-content-title-exp1-2{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 375px);
    /* grid-auto-rows: 60px; */
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.apv-content-title-exp1-2 > div{
    display: flex;
    border-right: 1px solid #7B7B7B;
    border-top: 1px solid #7B7B7B;
    height: 60px;
    flex-direction: column;
    justify-content: center;
}
.apv-content-title-exp1-2 .column41, .column43, .column45{
    background: #EEE; 
}

.apv-content-title-exp1-2 > div:nth-child(4n) {
    border-right: none;
}
.apv-content-title-exp1-3{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 375px 1125px;
    /* grid-auto-rows: 60px; */
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-top: 1px solid #7B7B7B;
}
.apv-content-title-exp1-3 > div{
    display: flex;
    border-right: 1px solid #7B7B7B;
    height: 60px;
    flex-direction: column;
    justify-content: center;
}
.apv-content-title-exp1-3 > div:nth-child(2n) {
    border-right: none;
}



/* 업무 결재 */

footer{
    margin: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
